<!DOCTYPE html>
<html>
<head>
<title>Story6</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background: linear-gradient(to bottom left, #00ffff 0%, #ffff66 100%);">
<br><br>
<h1 class="main-title">Hello, Apa kabar?</h1>
<hr/>
  <header>
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="story9">Story 9</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <content>
    <div class="container">
        <a href="profil.html" class="btn btn-lg btn-info" role="button">Profil Saya</a>
        <form id="form" method="POST" action="{% url 'add_status' %}">
            <h2>Masukkan status</h2>
            {% csrf_token %}
            {{ stats }}
            <br><input id="submit" type="submit" class="btn btn-lg btn-primary" value="Submit">
            <br>
        </form>
    </div>
    <div class="container">
        <h2>My Status</h2>
        {%for e in status reversed%}
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #F2F5A9">{{e.created_date}}</div>
          <div class="panel-body">{{e.description}}</div>
        </div>
        {%endfor%}
    </div>
  </content>
 
</body>

</html>