<!DOCTYPE html>
<html>
<head>
<title>hanaaa</title>
<meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #118AB2">
	<header>
		<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
		    </div>
		    <div id="navbar" class="navbar-collapse collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="story9">Story 9</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>

  <content>
	<br><br><br><h1 style="text-align:center;">Profiles</h1>
	<br><img src="https://scele.cs.ui.ac.id/pluginfile.php/22609/user/icon/lambda/f1?rev=1325573" alt="Meeehh" class="img-responsive center-block">
	<br><p class="content" style="text-align:center;">	Nama: Hana Raissya<br>
		NPM : 1706979266 <br>
		Tempat kuliah : UI <br>
		Hobi : Baca Komik <br>
		Deskripsi : Berkacamata</p> <br>
  </content>

</body>
</html>

