{% load static%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Story9</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script type="text/javascript" src = "static/js/styles.js"></script> -->
  <script src="{% static 'js/styles.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background: linear-gradient(to bottom right, #ffccff 0%, #ffff99 100%);">
  <div class = "container" >
    <h5><a href="{% url 'index' %}" style="text-align: left; color: black">Home</a></h5>
      <h2 id="checkFav" style="text-align: right;">
        <i class='fa fa-star'style = 'color : blue'></i>  Favorit saya</h2>
    <div class="table-responsive"> 
      <table class = "table table-hover" id = "btable" style="background-color: white">
        
      </table>
    </div>
  </div>

</body>
</html>